@page
@model PrivacyModel
@{
    ViewData["Title"] = "Table";
}
<h1>@ViewData["Title"]</h1>


<p>Use this page to detail your site's privacy policy.</p>
<table>
    <tr>
        <td>Table Name</td>
        <td>Created Date</td>
        <td>Modified Date</td>
    </tr>
</table>